<header id="header">
	<div class="container">
		<a href="{{ site.baseurl }}">
		  <h1>Allen Akinkunle</h1>
		</a>

		<div class="social">
		  <a href="https://github.com/allenakinkunle" target="_blank"><i class="fa fa-github"></i></a> <i class="dot">.</i>
		  <a href="mailto:hello@allenkunle.me" target="_blank"><i class="fa fa-envelope"></i></a> <i class="dot">.</i>
		  <a href="http://twitter.com/allenakinkunle" target="_blank"><i class="fa fa-twitter"></i></a> <i class="dot">.</i>
		  <a href="http://uk.linkedin.com/in/allenkunle" target="_blank"><i class="fa fa-linkedin"></i></a> <i class="dot">.</i>
			<a href="http://stackoverflow.com/users/1748587/akinkunle-allen" target="_blank"><i class="fa fa-stack-overflow"></i></a> <i class="dot">.</i>
			<a href="" class="about">About</a>
		</div>
	</div>
</header>
