<header id="header">
	<div class="container">
		<a href="{{ site.baseurl }}">
		  <h1>Allen Akinkunle</h1>
		</a>
		<p>Data Scientist <span class="diamond">|</span> Machine Learning Engineer <span class="diamond">|</span> Hobbyist Singer <span class="diamond">|</span> Retired Procrastinator</p>

		<div class="social">
		  <a href="https://github.com/allenakinkunle" target="_blank"><i class="fa fa-github"></i></a>
		  <a href="mailto:hello@allenkunle.me" target="_blank"><i class="fa fa-envelope"></i></a>
		  <a href="http://twitter.com/allenakinkunle" target="_blank"><i class="fa fa-twitter"></i></a>
		  <a href="http://uk.linkedin.com/in/allenkunle" target="_blank"><i class="fa fa-linkedin"></i></a>
		  <a href="http://stackoverflow.com/users/1748587/akinkunle-allen" target="_blank"><i class="fa fa-stack-overflow"></i></a>
		</div>
	</div>
</header>
