<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        jax: ['input/TeX', 'output/HTML-CSS'],
        showProcessingMessages: false,
        messageStyle: 'none',
        
        tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [['$$','$$']],
          processEnvironments: true
        },
        "HTML-CSS": { 
          fonts: ["TeX"] ,
          minScaleAdjust: 100,
          matchFontHeight: false,
          linebreaks: {
            width: "100% container"
          }
        },
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          },
          extensions: ["color.js"],
        }
      });
</script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML">
</script>

