<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        showProcessingMessages: false,
        messageStyle: 'none',
        tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [['$$','$$']],
          processEnvironments: false
        },
        // show equation numbers
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          },
          extensions: ["color.js"],
        },
        'HTML-CSS': {
          imageFont: null
        }
      });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
</script>