<ul id="share" class="clearfix">
  <li>
    <a href="https://twitter.com/intent/tweet?text='{{ page.title }}'&url={{ site.url }}{{ page.url }}&via=allenakinkunle"
      rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i> Share on Twitter</a>
  </li>
  <li>
    <a href="http://www.facebook.com/share.php?u={{ site.url}}{{page.url }}" onClick="return fbs_click(400, 300, '{{ site.url}}{{page.url }}')"
      target="_blank" title="Share This on Facebook"><i class="fa fa-twitter"></i> Share on Facebook</a>
  </li>
</ul>
